<% provide(:title, 'About') %>

    <h1>About my project<h1>
	<p> I'm learning Ruby and Ruby on Rails along with CSS and HTML.  I'm using this website as a way to explore coding and to create a lasting memory of my summer.  This site will grow somewhat organically and may contain features purely because I wanted to learn how to create those features. I hope you enjoy.
	</p>
    	
