<% provide(:title, 'Help') %>

    <h1>Do you need help?</h1>
    <p>If you're frustrated and need help click <a href="http://data.whicdn.com/images/28856826/Adorable-kittens-cats-18082611-600-602_large.jpg"> here</a></p>
    <p>isn't he cute</p>
    <p>If you still need help look under your chair, I think you'll be surprised</p>
    <p>I bet you were wondering where that was!</p>
    <p>If you haven't figured out that this page is completely useless then I'm sorry but you really need help</p>
  