
<div class="center hero-unit">

<h1 style="text-align:center;">Hi</h1>
 <h2 style="text-align:center;"><img src="https://fbcdn-sphotos-d-a.akamaihd.net/hphotos-ak-ash3/33912_1681786525295_6578434_n.jpg" width=400px height=300px>
 <p>This is me with Freddy Mercury</p>
 <p>And this is where I'm spending my summer</p>
 <img src="http://yogaworldtours.com/wp-content/uploads/2010/05/map_bali.jpg">
 <p>More specifically here</p>
 <img src="http://www.theamazingpics.com/wp-content/uploads/2013/01/Belalang-Bali-Indonesia.jpg" width=400px height=300px>
 <p>Bali, Indonesia</p>
 <p>And this is what I plan on doing<p>
 	<img src="http://www.baliventure.com/wp-content/uploads/2010/05/Bali-surfing-tours.jpg" width=400px height=300px>
 	<p>Although I'll probably look more like this</p>
 	<img src="http://media-cdn.tripadvisor.com/media/photo-s/03/72/75/a8/bali-green-surf.jpg" width=400px height=300px>
 	<p>Oh yeah and I'm also teaching myself</p>
 	<img src="http://www.whitefang.com/wp-content/uploads/2010/03/Computer-Programming1.jpg" width=400px height=300px>
 	<p>And I thought creating a website to document this trip might be a fun way to learn so here it goes</p>
 </h2> 	
